//- /views/page/jobs.pug

extends ../layout.pug

block content
  section.page-left
    .container
      .intro-block.text-center
        h1 Willkommen im 7th Heaven – Werde Teil unserer Crew!
        p Suchst du nach einer Aufgabe, bei der Herz, Können und Teamgeist zählen?
        p Willst du mithelfen, Menschen zusammenzubringen – mit gutem Essen, starker Energie und echtem Midgar-Spirit?
        p Ob du Erfahrung aus der Küche, vom Tresen oder aus dem Handel mitbringst: bei uns zählt Leidenschaft mehr als Level.
      hr
      // Standort
      .row
        .col.text.text-center
          h2 Standort
          ul.list-style-none
            li #{contact.name}
            li #{contact.address}
            li #{contact.add}
            li #{contact.city}, #{contact.plz}
            li #{contact.phone}
            li Allgemeine Anfragen: 
              a(href=`mailto:${contact.email.info}`)= contact.email.info
            li Bewerbungen & Training: 
              a(href=`mailto:${contact.email.hr}`)= contact.email.hr
        .col.image
          img.image-click(src="/static/images/gallery/location/ubahn.png" alt="Job Standort 7th Heaven Bar")
      hr
      // Arbeit als Alleskönner
      .row
        .col.image
          img.image-click(src="/static/images/gallery/web/alleskoenner.jpg" alt="Job - Arbeit als Alleskönner")
        .col.text
          h2 Arbeit als Alleskönner
          ul.list-style-none
            li
              strong Barkeeper:in / Mix-Magier:in 100%
              | – Du verstehst dich auf Drinks, Charme und ein ruhiges Ohr für Gäste.
            li
              strong Küchenheld:in (Tournant / Sous Chef) 100%
              | – Für unsere Tavernen im Sektor 7 und Edge.
            li
              strong Service-Mitarbeiter:in 80–100%
              | – Du bringst Energie und Herz auf den Tisch – egal, ob im 7th Heaven oder unterwegs.
            li
              strong Aushilfe / Reservist:in 10–100%
              | – Wirst gerufen, wenn’s brennt – in Küche, Bar oder Lieferdienst.
            li
              strong Ausbildung: Junior Barista / Küchenlehrling
              | – Für junge Talente mit Feuer im Herzen.
            li
              strong Sicherheitsdienst / Zivile Unterstützung
              | – Für alle, die lieber beschützen als zerschlagen.
      hr
      // Ausbildung & Training
      .row
        .col.text.text-right
          h2 Ausbildung & Training
          ul.list-style-none
            li Wir bilden neue Mitglieder in Küche, Service und Handel aus – mit echter Leidenschaft und makofreier Energie.
            li Ob du am Anfang stehst oder neu durchstartest – bei uns zählt, dass du lernst, was dich stärker macht.
            li Melde dich unter #{contact.phone} oder per Mail an 
              a(href=`mailto:${contact.email.hr}`)= contact.email.hr
        .col.image
          img.image-click(src="/static/images/gallery/impressionen/impressionen_05.jpg" alt="Jobs - Ausbildung & Training")
      hr
      // Subtiler Avalanche-Bezug
      .note.text-center
        p „Manchmal reicht ein kleiner Funke, um die Welt zu verändern.“ – AVALANCHE

    // Modal für Bildanzeige
    #imageModal.modal
      span.close ×
      img.modal-content#modalImg